.footer-wrap {
  background-color: #333232;
}

.footer {
  color: #fff;
  font-size: 12px;
  padding: 60px 0 30px;
  position: relative;
  &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &-item {
      display: inline-block;
      margin-right: 33px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &__company {
    margin-top: 10px;
    &-item {
      margin-top: 18px;
    }
  }
  &__qrcode {
    position: absolute;
    top: 60px;
    right: 0;
    &-item {
      width: 90px;
      height: 90px;
      margin-left: 60px;
    }
  }
}

.copyright {
  height: 45px;
  background-color: #171716;
  color: rgba($color: #fff, $alpha: 0.4);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__icp {
    margin-left: 44px;
  }
}