.nav-menu-wrap {
  background-color: #FCFBFA;
}

.nav-menu-item {
  display: inline-block;
  font-size: 18px;
  line-height: 88px;
  color: #807970;
  position: relative;
  &__txt {
    display: block;
    font-size: 18px;
    line-height: 88px;
    color: inherit;
    text-decoration: none;
    transform: all .3s;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 6px;
      background-color: #F47E14;
      margin: 0 auto;
      transition: width .2s;
    }
    &:hover,
    &.is-active {
      color: #333;
      font-weight: 500;;
    }
    &.is-active {
      &::after {
        width: 40px;
      }
    }
  }
  & + & {
    margin-left: 48px;
  }
}

.company-intro {
  font-size: 18px;
  color: #807970;
  text-align: center;
}

.count-list {
  display: flex;
  justify-content: space-around;
}

.count-item {
  display: inline-block;
  text-align: center;
  padding: 28px 0 37px;
  &__num {
    font-size: 60px;
    font-weight: 600;
    color: #F47E14;
  }
  &__title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 500;
  }
  &__desc {
    margin-top: 12px;
    font-size: 16px;
    color: #807970;
  }
}

.culture {
  &-wrap {
    text-align: right;
    position: relative;
  }
  &__vision {
    text-align: start;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 528px;
    height: 286px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
  }
  &__carousel {
    display: inline-block;
    width: 816px;
    height: 440px;
    .slider-paging {
      justify-content: flex-end;
    }
  }
}

.vision {
  width: 528px;
  height: 286px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 55px 60px;
  &__head {
    font-size: 24px;
    font-weight: 500;
  }
  &__title {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
  }
  &__desc {
    margin-top: 16px;
    font-size: 14px;
    color: #807970;
  }
  &__cover-wrap {
    width: 816px;
    height: 440px;
    background-color: #eee;
  }
  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
