.banner {
  height: 37.5vw;
  background-color: #f47e14;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/home_banner.png");
  background-size: 100% 100%;
  &__title {
    font-size: 54px;
    font-weight: 600;
  }
  &__desc {
    font-size: 18px;
    line-height: 2.1em;
    text-align: center;
    max-width: 846px;
  }
}

.block {
  padding: 60px 0;
  &__head {
    position: relative;
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    height: calc(72px * 1.4);
    box-sizing: border-box;
    padding-top: calc((72px - 24px) * 1.2 - 7px);
    font-weight: 500;
    margin-bottom: 40px;
    &::before {
      content: attr(data-content);
      text-transform: uppercase;
      position: absolute;
      font-size: 72px;
      font-weight: bold;
      color: rgba(51,51,51,0.05);
      top: 0;
      left: 50%;
      transform: translate3d(-50%,0,0);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 48px;
      height: 6px;
      background-color: #f47e14;
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%,0,0);
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
}

.service {
  align-self: center;
  display: flex;
  flex-direction: row;
  &__nav {
    width: 200px;
  }
  &__content {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 450px;
    margin-left: 75px;
    background-color: rgba(51,51,51,0.05);
    display: flex;
  }
}

.service-nav-item {
  padding: 20px 0;
  box-sizing: border-box;
  cursor: pointer;
  &__name {
    font-size: 24px;
    line-height: 45px;
    box-sizing: border-box;
    padding-left: 34px;
    border-left: 6px solid #f47e14;
  }
  &__arrow {
    width: 78px;
    height: 16px;
    margin-left: 40px;
    margin-top: 12px;
    background: url("../images/service_arrow.svg");
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover .service-nav-item__arrow {
    opacity: 1;
  }
}

.service-item {
  list-style: none;
  list-style-type: none;
  flex-grow: 1;
  min-width: 50%;
  background: url("../images/service_coach.png");
  background-size: cover;
}

.project-wrap {
  background-color: #fcfbfa;
}

.project-list {
  div {
    outline: none;
  }
  // .slick-arrow {
  //   display: none !important;
  // }
}

.project-item {
  margin: 0 37px;
  height: 300px;
  background-color: rgba(51,51,51,0.05);
  display: flex;
  &__img {
    width: 353px;
    height: 100%;
  }
  &__info {
    flex: 1;
    background-color: #fff;
    padding: 34px 48px;
    position: relative;
  }
  &__name {
    font-size: 18px;
    color: #333;
  }
  &__desc {
    font-size: 12px;
    color: #807970;
    margin-top: 36px;
  }
  &__arrow {
    width: 57px;
    height: 12px;
    background: url('../images/service_arrow.svg');
    background-size: 100% 100%;
    position: absolute;
    left: 48px;
    bottom: 45px;
  }
}

.slider-paging {
  margin-top: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url("../images/slider_arrow.svg");
  background-size: 100% 100%;
  cursor: pointer;
  &--next {
    transform: rotate(180deg);
  }
}

.slider-progress {
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 30px;
  &::-webkit-progress-bar {
    background-color: #e0e0e0;
  }
  &::-webkit-progress-value {
    background-color: #f47e14;
    border-radius: 3px;
    transition: width .3s;
  }
}

.learning-sources {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 45px;
}

.source-item {
  text-align: center;
  &__icon {
    display: inline-block;
    width: 86px;
    height: 86px;
    border-radius: 43px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
  }
  &__name {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
  }
}

.books-wrap {
  padding: 45px 0;
  background-color: #FCFBFA;
}

.books-container {
  display: flex;
}

.company {
  font-size: 12px;
  color: #333;
  width: 240px;
  padding: 40px 0;
}

.book-item {
  display: inline-block;
  text-align: center;
  margin-left: 134px;
  &__img {
    width: 135px;
    height: 194px;
  }
  &__name {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
  }
  &__author {
    font-size: 12px;
    color: #807970;
    margin-top: 12px;
  }
}

.modal-video {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  &.visible {
    display: flex;
  }
  &__content {
    width: 80vw;
    height: 50vw;
    max-width: 900px;
    max-height: 562px;
    background-color: #fff;
  }
}

.video-wrap {
  position: relative;
  width: 1200px;
  height: 499px;
  margin: 0 auto;
}

.company__video {
  width: 100%;
  height: 100%;
}

.video {
  &__poster {
    width: 100%;
    height: 100%;
    background-image: url('../images/video_poster.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__desc {
    position: absolute;
    top: 149px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }
  &__name {
    font-size: 36px;
  }
  &__slogan {
    font-size: 18px;
    letter-spacing: 20px;
    margin-top:11px;
  }
  &__arrow {
    display: inline-block;
    width: 14px;
    height: 26px;
    background-image: url('../images/video_icon_arrow.svg');
    background-size: 100%;
    margin-top: 48px;
    animation: upDown 1s ease-in-out infinite;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.video-btn {
  &__play {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url("../images/video_icon_play.svg");
    background-size: 100% 100%;
    cursor: pointer;
    bottom: 40px;
    left: 50%;
    transform: translate3d(-50%,0,0);
  }
}