@import '../styles/variables.scss';

.banner {
  height: 37.5vw;
  background-color: #f47e14;
  color: #fff;
  display: flex;
  padding-top: $header-height;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/home_banner.png");
  background-size: 100% 100%;
  &__title {
    // font-size: 54px;
    font-weight: 600;
  }
  &__desc {
    font-size: 18px;
    line-height: 2.1em;
    text-align: center;
    max-width: 846px;
  }
}

.block {
  padding: 60px 0;
  &__head {
    position: relative;
    text-align: center;
    font-size: 32px;
    line-height: 1.4;
    height: calc(72px * 1.4);
    box-sizing: border-box;
    padding-top: calc((72px - 32px) * 1.2 - 7px);
    font-weight: 500;
    margin-bottom: 40px;
    &::before {
      content: attr(data-content);
      text-transform: uppercase;
      position: absolute;
      font-size: 72px;
      font-weight: bold;
      color: rgba(51,51,51,0.05);
      top: 0;
      left: 50%;
      transform: translate3d(-50%,0,0);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 64px;
      height: 8px;
      background-color: #f47e14;
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%,0,0);
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
}

.service {
  width: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  &__nav {
    width: 270px;
  }
  &__content {
    margin: 0;
    padding: 0;
    width: 802px;
    height: 602px;
    margin-left: 100px;
    background-color: rgba(51,51,51,0.05);
    display: flex;
  }
}

.service-nav-item {
  padding: 20px 0;
  box-sizing: border-box;
  cursor: pointer;
  &__name {
    font-size: 32px;
    line-height: 60px;
    box-sizing: border-box;
    padding-left: 46px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      background-color: #f47e14;
      opacity: 0;
      transition: all .3s;
    }
  }
  &__arrow {
    width: 78px;
    height: 16px;
    margin-left: 25px;
    margin-top: 25px;
    background: url("../images/service_arrow.svg");
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity .3s, margin-left .3s;
  }
  &.is-active & {
    &__name::before {
      opacity: 1;
      width: 8px;
      height: 100%;
    }
    &__arrow {
      opacity: 1;
      margin-left: 55px;
    }
  }
}

.service-list {
  overflow: hidden;
  width: 0;
  height: 100%;
  opacity: 0;
  transition: opacity .6s;
  &.is-active {
    width: 100%;
    opacity: 1;
  }
  &.count-3 {
    .service-item {
      &:nth-child(2),
      &:nth-child(3) {
        height: 50%;
      }
    }
  }
}

.service-item {
  list-style: none;
  list-style-type: none;
  float: left;
  width: 50%;
  height: 100%;
  background-size: cover;
  position: relative;
  &__content {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
  }
  &__name {
    margin-bottom: 16px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }
  &__desc {
    color: #fff;
    font-size: 16px;
  }
}

.project-wrap {
  background-color: #fcfbfa;
}

.project-list {
  div {
    outline: none;
  }
  // .slick-arrow {
  //   display: none !important;
  // }
}

.project-item {
  margin: 0 50px;
  width: 970px;
  height: 400px;
  display: flex;
  cursor: pointer;
  position: relative;
  &__img {
    width: 470px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all 1s ease-out;
    & > img {
      width: 100%;
      height: 100%;
      transition: transform 3s;
    }
  }
  &__right {
    width: 500px;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 470px;
    transition: all 0s;
  }
  &__info {
    width: 500px;
    height: 100%;
    background-color: #fff;
    padding: 34px 64px;
    position: relative;
  }
  &__name {
    font-size: 24px;
    color: #333;
  }
  &__desc {
    text-align: justify;
    font-size: 14px;
    color: #807970;
    margin-top: 36px;
  }
  &__arrow {
    width: 57px;
    height: 12px;
    background: url('../images/service_arrow.svg');
    background-size: 100% 100%;
    position: absolute;
    left: 64px;
    bottom: 60px;
  }
  &.is-last & {
    &__img {
      left: 500px;
    }
    &__right {
      left: 0;
    }
  }
  &:hover & {
    &__img > img {
      transform: scale(1.1);
    }
  }
}

.slider-paging {
  margin-top: 58px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("../images/slider_arrow.svg");
  background-size: 100% 100%;
  cursor: pointer;
  &--next {
    transform: rotate(180deg);
  }
}

.slider-progress {
  height: 8px;
  width: 320px;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 38px;
  &::-webkit-progress-bar {
    background-color: #e0e0e0;
  }
  &::-webkit-progress-value {
    background-color: #f47e14;
    border-radius: 4px;
    transition: width .3s;
  }
}

.learning-sources {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 45px;
}

.source-item {
  text-align: center;
  &__icon {
    display: inline-block;
    width: 116px;
    height: 116px;
    border-radius: 58px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
  }
  &__name {
    font-size: 24px;
    color: #333;
    margin-top: 7px;
  }
}

.books-wrap {
  padding: 45px 0;
  background-color: #FCFBFA;
}

.books-container {
  display: flex;
}

.company {
  font-size: 14px;
  color: #333;
  width: 320px;
  padding: 50px 0;
}

.book-item {
  display: inline-block;
  text-align: center;
  margin-left: 134px;
  & + & {
    margin-left: 219px;
  }
  &__img {
    display: inline-block;
    width: 180px;
    height: 258px;
  }
  &__name {
    font-size: 18px;
    color: #333;
    margin-top: 30px;
  }
  &__author {
    font-size: 14px;
    color: #807970;
    margin-top: 16px;
  }
}

.modal-video {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  &.visible {
    display: flex;
  }
  &__content {
    width: 80vw;
    height: 50vw;
    max-width: 900px;
    max-height: 562px;
    background-color: #fff;
  }
}

.video-wrap {
  position: relative;
  height: 499px;
  margin: 0 auto;
}

.company__video {
  width: 100%;
  height: 100%;
}

.video {
  &__poster {
    width: 100%;
    height: 100%;
    // background-image: url('../images/video_poster.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__desc {
    position: absolute;
    top: 149px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }
  &__name {
    font-size: 48px;
  }
  &__slogan {
    font-size: 20px;
    letter-spacing: 20px;
    margin-top:11px;
  }
  &__arrow {
    display: inline-block;
    width: 18px;
    height: 35px;
    background-image: url('../images/video_icon_arrow.svg');
    background-size: 100%;
    margin-top: 48px;
    animation: upDown 1.5s ease-in-out infinite;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.video-btn {
  &__play {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../images/video_icon_play.svg");
    background-size: 100% 100%;
    cursor: pointer;
    bottom: 40px;
    left: 50%;
    transform: translate3d(-50%,0,0);
  }
}