.chapter-item {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  counter-reset: section;
  counter-increment: chapter;
  &:nth-child(2n) {
    flex-direction: row-reverse;
    .chapter-item__left {
      text-align: center;
    }
  }
  &__left {
    flex-grow: 1;
    &-content {
      display: inline-block;
      text-align: left;
    }
  }
  &__right {
    width: 640px;
    height: 420px;
    overflow: hidden;
  }
  &__title {
    font-size: 24px;
    line-height: 70px;
    color: #333;
    border-bottom: 1px solid #D6D6D6;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 24px;
      height: 4px;
      background-color: #666;
    }
  }
  &__sections {
    margin-top: 24px;
  }
  &__section {
    color: #666;
    font-size: 16px;
    counter-increment: section;
    &::before {
      content: counter(chapter) "." counter(section) "\00a0\00a0\00a0";
    }
    & + & {
      margin-top: 20px;
    }
  }
  &__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #eee;
    transition: transform 3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}