.partners {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.partner-item {
  display: inline-block;
  width: 210px;
  height: 120px;
  margin-right: 40px;
  margin-bottom: 40px;
  &:nth-child(5n) {
    margin-right: 0;
  }
  img {
    display: block;
    width: 100%;
  }
}
