.partners {
  display: flex;
  height: 600px;
  &__nav {
    width: 500px;
    background-color: #eee;
  }
  &__content {

  }
}

.partner-item {
  display: inline-block;
  width: 224px;
  height: 160px;
  text-align: center;
  &__name {
    color: #333;
    font-size: 14px;
  }
}
