.app-logo {
  h1 {
    display: block;
    width: 163px;
    height: 72px;
    line-height: 72px;
    font-size: 0;
    background: url('../../logo.svg') no-repeat 0 0;
    background-size: 100% 49px;
    background-position: center;
  }
}

.app-header {
  background-color: #fff;
}

.header {
  &-wrap {
    height: 72px;
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  margin: 0;
  padding: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &-item {
    list-style: none;
    float: left;
    font-size: 16px;
    height: 72px;
    line-height: 72px;
    margin-left: 86px;
    a {
      display: block;
      height: 100%;
      color: #333;
      text-decoration: none;
    }
  }
}