html {
  line-height: 1.4;
  color: #333;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  pointer-events: none;
  align-self: center;
  h1 {
    display: block;
    width: 163px;
    height: 49px;
    font-size: 0;
    background: url('./logo.svg') no-repeat 0 0;
    background-size: 100% 100%;
  }
}

.App-header {
  background-color: #fff;
}

.Header {
  &-wrap {
    height: 72px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.App-link {
  color: #61dafb;
}

.menu {
  margin: 0;
  padding: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &-item {
    list-style: none;
    float: left;
    height: 72px;
    line-height: 72px;
    margin-left: 86px;
    a {
      color: #333;
      text-decoration: none;
    }
  }
}