.comp-online-service { 
  .block {
    &__title {
      font-size: 32px;
      font-weight: 500;
    }
    &__subtitle {
      margin-top: 17px;
      color: #ABA296;
      font-size: 18px;
    }
    &__body {
      margin-top: 60px;
    }
  }

  .what {
    &__desc {
      font-size: 18px;
    }
  }
  .what-items {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
  }
  .what-item {
    width: 360px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    background-size: cover;
    background-position: center;
    margin-right: 45px;
    &:last-child {
      margin-right: 0;
    }
  }

  .pain {
    &__content {
      padding: 45px 40px;
    }
  }
  .pain-item {
    position: relative;
    vertical-align: top;
    width: 360px;
    height: 204px;
    border: 1px solid #F47E14;
    text-align: center;
    padding: 0 78px;
    padding-top: 54px;
    margin-right: 45px;
    &:last-child {
      margin-right: 0;
    }
    &__title {
      font-size: 18px;
      font-weight: 500;
    }
    &__content {
      margin-top: 29px;
      color: #807970;
      font-size: 14px;
    }
    &--down {
      top: 117px;
    }
    &--up {
      bottom: 117px;
    }
  }
  .pain-type {
    width: 280px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    background-color: #F47E14;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 45px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .profit {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .profit-item {
    text-align: left;
    width: 585px;
    height: 320px;
    background-size: cover;
    background-position: center;
    position: relative;
    & + & {
      margin: 0;
    }
    &__name {
      position: absolute;
      left: 40px;
      top: 183px;
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }
    &__desc {
      position: absolute;
      left: 40px;
      top: 232px;
      font-size: 16px;
      color: #fff;
    }
  }

  .contact {
    display: flex;
    flex-direction: row;
    text-align: left;
    &__left {
      width: 584px;
    }
    &__right {
      margin-left: 80px;
    }
    &__price {
      color: #F47E14;
      font-size: 36px;
      font-weight: 500;
    }
    &__desc {
      margin-top: 12px;
      font-size: 18px;
      font-weight: 500;
    }
    &__qrcode {
      margin-top: 41px;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      display: inline-block;
      img {
        width: 120px;
        height: 120px;
        margin-bottom: 14px;
      }
    }
  }
}
